{% extends "base.html" %}
  {% block content %}
  <div id="content">
  <h1 class="logo"><img src="/static/img/de-icon.jpg" width="80px" alt="Decipher Icon"/>&nbsp;Decipher Incentives</h1>
  <div class="panel" id="login">
    <h3>Log in to your account</h3>
    {% from "forms/macros.html" import render_field %}
    <form method="POST" action="." class="form">
      {{ form.csrf_token }}
      {{ render_field(form.email, class="input text", placeholder="Email address") }}
      {{ render_field(form.password, class="input text", placeholder="Password") }}
      <input type="submit" value="Login" class="submit-btn btn btn-success" id="login">
    </form>
    <a class="redirect-links" href="{{ url_for('users.register') }}">Register</a><br/>
    <a class="redirect-links" href="{{ url_for('users.reset_email') }}">Forgot Password?</a>
  </div>
  </div>
  {% endblock %}