{% extends "base.html" %}
  {% block content %}
  <div id="content">
  <h1 class="logo"><img src="/static/img/de-icon.jpg" width="80px" alt="Decipher Icon"/>&nbsp;Decipher Incentives</h1>
  <div class="panel" id="login">
    <h3>Password Reset</h3>
    {% from "forms/macros.html" import render_field %}
    
    <form method="POST" action="{{ url_for('users.reset_pw', token=token)}}" class="form">
      {{ form.csrf_token }}
      {{ render_field(form.new_password, class="input text", placeholder="New Password") }}
      {{ render_field(form.new_confirm, class="input text", placeholder="Repeat New Password") }}
      <input type="submit" value="Reset" class="submit-btn btn btn-success" id="reset">
    </form>
  </div>
  </div>
  {% endblock %}