{% extends "base-nav.html" %}
{% block content %}
<div id="content" class="col-md-12">
  <div id="release-info">
    <h3>Latest Info</h3>
    <h4>Welcome to Decipher Incentive Requests!</h4>
    <p>This was built to help AMs automate and keep track of their incentive requests.</p>
    <p>This is fairly new and may have some unexpected bugs. If you have any questions or notice any bugs please add them to this <a href="https://docs.google.com/a/decipherinc.com/spreadsheets/d/1Qai_AsvQ2MN_YaYJQnCEfqi0lVsLG4K9-SfzBd77PXQ/edit?usp=sharing" target="_blank">google doc</a> or feel free to email me at <a href="mailto:rsiemens@decipherinc.com" target="_top">rsiemens@decipherinc.com</a></p>
  </div>
</div>
{% endblock %}
