{% extends "base.html" %}
  {% block content %}
    <h1 class="logo"><img src="/static/img/de-icon.jpg" width="80px" alt="Decipher Icon"/>&nbsp;Decipher Incentives</h1>
    <div class="panel" id="login">
      <div class="form-field">
        {% from "forms/macros.html" import render_field %}
        <form method="POST" action="." class="form">
          {{ form.csrf_token }}
          {{ render_field(form.name, class="input text", placeholder="Name") }}
          {{ render_field(form.email, class="input text", placeholder="Email address") }}
          {{ render_field(form.password, class="input text", placeholder="Password") }}
          {{ render_field(form.confirm, class="input text", placeholder="Repeat Password") }}
          {{ form.recaptcha }}
          <input type="submit" value="Register" class="submit-btn" id="register">
        </form>
      </div>
      <a href="{{ url_for('users.login') }}">Login</a>
   </div>
  {% endblock %}