html, body {
  height: 100%;
  }

body {
  font-family: benton-sans, 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #3f3f44;
  background-color: #fff;
  margin: 0;
}

/* Flash messages */
#messages {
  background-color: #ff1111;
  text-align: center;
  box-shadow: 0 0 10px #333;
  z-index: 10;
}

#messages p {
  margin-bottom: 0;
}

#messages .flash-success {
  background-color: #A4D061;
}

#messages p, .form_field ul li {
  font-size: 15px;
  font-weight: bold;
  padding: 10px 0;
}

/* Logo */
h1.logo {
  text-align: center;
  margin: 40px 0 40px;
}

/* Form style */
.panel {
  max-width: 430px;
  margin: 0 auto 20px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  text-align: center;
}

.panel form {
  padding: 20px 80px;
  display: block;
}

.form_field {
  margin-bottom: 20px;
}

.form_field ul,
.nav-body ul,
.nav-footer ul {
  padding: 0;
  list-style-type: none;
}

.form_field ul li {
  border-bottom: 1px solid #ff1111;
}

form .input.text,
form .input.date,
form .input.float,
form .input.select {
  display: block;
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #cbcbd2;
  border-radius: 4px;
  text-align: left;
}

form .label {
  display: none;
}

#incentive form .label {
  float: left;
  display: inline;
  color: #3f3f44;
  text-align: left;
  font-size: 14px;
  padding-left: 0;
}

#incentive form{
  clear: both;
}

.rc-anchor {
  margin-bottom: 20px;
}

#register {
  margin-top: 20px;
}

/* Buttons */
.submit-btn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border-color: #A4D061;
  background-color: #A4D061;
  font-size: 1.8rem;
  font-weight: 600;
}

/* Profile */
#release-info {
  width: 80%;
  margin: 40px auto 0;
}

#release-info h3 {
  margin-bottom: 30px;
}


/* Nav */
.fa-circle:before {
  color: rgb(10, 184, 10);
}
.navbar {
  border-radius: 0;
  margin-bottom: 0; 
}

div.nav-head  i  {
  color: #94e864;
}

#nav {
  background-color: #2f2c2c;
  height: 100%;
  position: fixed;
  }

#nav  .nav-head {
  padding: 20px 0;
  color: #e4e4e2;
}

#nav ul li {
  margin-top: 10px;
  font-size: 14px;
}

#nav .nav-footer {
  position: absolute;
  bottom: 0px;
}
/* Past Incentive */
#past-incentives h3 {
  margin-top: 40px;
}

/* Using bootstrab .table style now
table, th, td {
  border-collapse: collapse;
}

th, td {
  padding: 5px 35px 5px 5px;
}

table tbody tr:nth-child(odd) {
  background: #ddd;
}
table tbody tr:nth-child(even) {
  background: #F2F2F2;
}
*/

table thead th{
  cursor: pointer;
}

#past-incentives table{
  margin: 30px auto 50px;
}

/*ipad portrait */
@media (max-width: 768px){

.panel form {
  padding: 20px 25px;
  display: block;
}

}
